@page "/Collection"
@using SkaiMovies.Data
@using SkaiMovies.Models
@using SkaiMovies.Components

@if (movies is not null)
{
		<CategoryComponent movies=@movies ></CategoryComponent>
}
else
{
	<p>Loading...</p>
}


@code {

	List<Movie> movies;
	MovieApi api = new MovieApi();

	protected override async Task OnInitializedAsync()
	{
		movies = await api.GetMovie("Fight CLub");
	}

}
