    
.content {
    padding:50px;
}

.moviePage {
    height: 450px;
    width: 260px;
    margin: auto;
    background-color: #292832;
    border-radius: 15px;
}


    .moviePage h5 {
        text-align: center;
    }

    .moviePage button {
        background-color: transparent;
        border: none;
        color: white;
        text-align: center;
        margin: auto;
        display: block;
    }

button img{
    height:20px;
}

.flex {
    display: flex;
}

.poster {
    height: 380px;
    width: 260px;
}

.star {
    height: 20px;
    width: 20px;
    margin-end: 5px;
}

.info {
    padding: 30px;
    width: 700px;
    height: 450px;
    background-color: #070033;
    margin: auto;
    display: block;
}

    .info > div {
        width: 300px;
    }
