@using SkaiMovies.Models
@using SkaiMovies.Data
<h3>Movie</h3>


<div class="movie">
	<img class="poster" src="https://image.tmdb.org/t/p/w500/@movie.Poster" alt="Movie Poster" />
	<h5>@movie.Title</h5>
	
	<div class="row gx-0">
		<div class="flex col">
			<img class="star " src="star-removebg-preview.png" alt="8.8" />
			<p>@movie.Voting</p>
		</div>
		<div class="like col">
			<button @onclick="changeFavourite">
				@if(!favourite){
					<img src="fav.png" alt="Like" />
				}
				else
				{
					<img src="Heart.png" alt="Liked" />
				}
			</button>
		</div>
	</div>
	<button>+ Adicionar à coleção</button>
</div>

<style>
	.movie{
		height:320px;
		width: 142px;
		background-color: #292832;
		border-radius:15px;
		font-size: 13px;
		
	}
		
		.movie h5 {
			text-align: center;
		}
		.movie button{
			background-color:transparent;
			border:none;
			color: white;
			text-align:center;
			margin:auto;
			display:block;
		}

	.flex {
		display: flex;
	}

	.like{
		display:inline-flex;
		margin-left: 0px;
		width: 500px;
		height:20px;
	}
	.like img{
		height:15px;
	}

	.poster{
		height: 210px;
		width:142px;
		margin-bottom:5px;
	}
	
	.star{
		height: 20px;
		width: 20px;
		margin-end:5px;
	}
</style>
@code {
	MovieApi api = new MovieApi();
	int n = 0;
	List<Movie> movies;
	Movie movie;
	Boolean favourite = false;

	protected override async Task OnInitializedAsync()
	{
		// Chamar a API para obter a lista de filmes
		movies = await api.GetMovie("Fight CLub");
		movie = movies[0];
	}

	private async void changeFavourite()
	{
		Console.WriteLine(favourite);
		favourite = !favourite;
	}
}
