<h3>NavBar</h3>
<div class="navBar">
	<input type="text" placeholder="Search..">
</div>
<style>
	.navbar{
		overflow: hidden;
		background-color: #070033;
	}
	.navbar input{
		border-radius: 30px;
		width: 100px;

	}
</style>
@code {

}
