@inherits LayoutComponentBase
<div class="page gx-0">
    <!--<div class="sidebar">
        <NavMenu />
    </div>
    -->
    <main>
        <!--<div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>
        -->
        <article class="content p-0">
            @Body
        </article>
    </main>
</div>
